/firmware/*.uf2
/.idea/.idea.Adv360-Pro-ZMK.dir/.idea/.gitignore
/.idea/.idea.Adv360-Pro-ZMK.dir/.idea/encodings.xml
/.idea/.idea.Adv360-Pro-ZMK.dir/.idea/indexLayout.xml
/.idea/.idea.Adv360-Pro-ZMK.dir/.idea/vcs.xml
